// Primary colors
$white: #fafafa;
$black: #201f1f;

$primary: #6a3aa2;

$bg-light: #fff0f0;

$text-light: #fbfbff;
$text-dark: #333333;

$border: #e0e0e0;

$shadow-light: #d8d6d640;
$shadow-dark: #543c9740;

$gradient-1: #141333;
$gradient-2: #202261;
$gradient-3: #543c97;
$gradient-4: #6939a2;

// Radius
$radius: 1rem;

// Breakpoints
$small-mobile: 360px;
$mobile: 576px;
